* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #030303;
  color: #e2e2e2;
  height: 100vh;
}

.navbar {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #f0860c;
  background-color: hsla(0, 3%, 77%, 0.541);
  z-index: 2;
}

.navbar__logo a {
  text-decoration: none;
  color: white;
}
.navbar__logo {
  font-size: 2rem;
  transition: all 1s ease-in-out;
}
.navbar__logo:hover {
  transform: scale(1.5);
}

.navbar__logo a:hover {
  color: #f0860c;
}

.navbar__menu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 35%;
}

.navbar__menu li {
  padding: 25px;
}

.navbar__menu li a {
  font-size: 1rem;
  text-decoration: none;
  color: white;
  transition: all 1s ease-in-out;
}

.navbar__menu li a:hover {
  color: #f0860c;
}

.aboutMe {
  position: relative;
  border-bottom: 3px rgb(117, 117, 117) solid;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aboutMe::before {
  content: '';
  background-image: url(/img/WhatsApp\ Image\ 2021-07-07\ at\ 21.36.03-modified.jpeg);
  background-repeat: no-repeat;
  background-position: right;
  animation: animate1 5s forwards ease-in-out;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

@keyframes animate1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.4;
  }
}

.aboutMe__text {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  line-height: 4.5vh;
  font-size: 1rem;
}

.aboutMe h1 {
  font-size: 1.65rem;
}
.aboutMe h2 {
  font-size: 1.15rem;
}

@media (max-width: 500px) {
  .navbar__logo {
    margin-left: 2vw;
  }
  .navbar__menu {
    margin: 0 auto;
  }
  .navbar__menu li {
    padding: 20px;
  }
  .navbar__menu li a {
    font-size: 5vw;
  }
  .aboutMe__text {
    line-height: 5vh;
    font-size: 0.75rem;
  }
}

.skillsAndProjects {
  border-bottom: 3px rgb(117, 117, 117) solid;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skillsAndProjects__card {
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skillsAndProjects__card--text {
  font-size: 2.2rem;
  text-align: center;
  margin: 2rem;
}

.skillsAndProjects__card--img {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px;
}

.skillsAndProjects__card--img div {
  transition: all 1s ease-in-out;
  border: 1px solid hsla(0, 3%, 77%, 0.541);
  border-radius: 20%;
  margin: 0.2rem 0.5rem;
}

.skillsAndProjects__card--img div:hover {
  background-color: hsla(0, 3%, 77%, 0.541);
  border: 1px solid hsla(0, 3%, 77%, 0.541);
  border-radius: 50%;
  transform: scale(2);
}

.skillsAndProjects__card--img img {
  height: 15vh;
  width: 15vh;
}
.contact {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}

.contact__img {
  background-image: url(https://static.wixstatic.com/media/b90e39_c32fd6e671d043efa9ce81544be6123a~mv2_d_3000_1259_s_2.jpg/v1/fill/w_979,h_411,al_c,q_85,usm_0.66_1.00_0.01/darren-hughes-art-website-contact.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  width: 100%;
  height: 50vh;
}

.contact__text {
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 2rem;
  margin-top: 2rem;
}

.contact__text--inputs {
  display: flex;
  flex-direction: column;
}

.links {
  width: 100%;
  background-color: hsla(0, 3%, 77%, 0.541);
}

.links__menu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.links__menu li {
  padding: 1rem 15px;
}
